/**
 * #copyright-begin#
 * Copyright (c) 2005, admaDIC GbR, Leipzig, Germany, http://www.admadic.de
 * admaDIC Proprietary/Confidential. Use is subject to license terms.
 * #copyright-end#
 *
 * #license-begin#
 * no license information included
 * #license-end#
 *
 * $Id$ 
 */
package de.admadic.calculator.modules.matrx;

/**
 * @author Rainer Schwarze
 *
 */
public class Version {

	/**
	 * Version information for the application.
	 */
	final public static String version = "@version@";

	/**
	 * Version information for the application - use in Filesystem.
	 */
	final public static String versionFS = "@versionFS@";

	/**
	 * Version information for the application - use in licensing.
	 */
	final public static String versionLC = "@versionLC@";

	/**
	 * Don't need an instance.
	 */
	protected Version() {
		super();
	}
}
